-- Migration: Add Security Tables
-- Description: Adds users, audit_logs tables and updates existing tables for security

-- Create users table
CREATE TABLE IF NOT EXISTS users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    username VARCHAR(50) NOT NULL UNIQUE,
    email VARCHAR(100) NOT NULL UNIQUE,
    full_name VARCHAR(100),
    hashed_password VARCHAR(255) NOT NULL,
    role VARCHAR(20) NOT NULL DEFAULT 'readonly' CHECK (role IN ('admin', 'technician', 'readonly')),
    is_active BOOLEAN DEFAULT 1,
    is_ad_user BOOLEAN DEFAULT 0,
    ad_username VARCHAR(50),
    last_login DATETIME,
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
    updated_at DATETIME DEFAULT CURRENT_TIMESTAMP
);

-- Create audit_logs table
CREATE TABLE IF NOT EXISTS audit_logs (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    user_id INTEGER,
    action VARCHAR(20) NOT NULL CHECK (action IN ('create', 'read', 'update', 'delete', 'login', 'logout', 'export')),
    resource VARCHAR(100) NOT NULL,
    resource_id VARCHAR(100),
    description TEXT,
    ip_address VARCHAR(45),
    user_agent TEXT,
    success BOOLEAN DEFAULT 1,
    error_message TEXT,
    metadata JSON,
    timestamp DATETIME DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (user_id) REFERENCES users (id)
);

-- Create indexes for performance
CREATE INDEX IF NOT EXISTS idx_users_username ON users(username);
CREATE INDEX IF NOT EXISTS idx_users_email ON users(email);
CREATE INDEX IF NOT EXISTS idx_audit_logs_user_id ON audit_logs(user_id);
CREATE INDEX IF NOT EXISTS idx_audit_logs_timestamp ON audit_logs(timestamp);
CREATE INDEX IF NOT EXISTS idx_audit_logs_resource ON audit_logs(resource);
CREATE INDEX IF NOT EXISTS idx_audit_logs_action ON audit_logs(action);

-- Insert default users with hashed passwords
-- Passwords: admin123, tech123, user123 (bcrypt hashed)
INSERT OR IGNORE INTO users (username, email, full_name, hashed_password, role, is_active) 
VALUES ('admin', 'admin@inventory.local', 'System Administrator', '/LewdBPj8WKGJZBKjO', 'admin', 1);

INSERT OR IGNORE INTO users (username, email, full_name, hashed_password, role, is_active) 
VALUES ('technician', 'tech@inventory.local', 'System Technician', '/LewdBPj8WKGJZBKjO', 'technician', 1);

INSERT OR IGNORE INTO users (username, email, full_name, hashed_password, role, is_active) 
VALUES ('readonly', 'user@inventory.local', 'Read Only User', '/LewdBPj8WKG', 'readonly', 1);
